.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
        
    .btn-primary {
        margin-left: 3px;
        margin-right: 3px;
        margin-top: 5px;
        margin-bottom: 3px;
    }
.web_search input[type="text"]{
	font-family: 'Maven Pro', sans-serif;
	padding: 5px 8px;
	outline: none;
	border: none;
	width: 80%;
	font-size: 1em;
	color: #333333;
}
.web_search:hover input[type="submit"]{
	background: url(../images/search.png) no-repeat 0px 4px;
}
.web_search input[type="submit"]{
	background: url(../images/search.png) no-repeat 0px 4px;
	border: none;
	width: 25px;
	height: 25px;
	cursor: pointer;
}
.web_search input[type="submit"]:hover{
	background: url(../images/search.png) no-repeat 0px 4px;
}
.form-control-text{
    border-radius: 5px
}

/*styles for shopping cart*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color:white;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #FFFFFF;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .cartSign {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
}

.sidenav .cartTable{
    font-size: 15px;
    color: #FFFFFF;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.icon_cart{
	background: url(../images/search.png) no-repeat 0px 4px;
	border: none;
	width: 25px;
	height: 25px;
	cursor: pointer;
}