<!doctype html>

<html ng-app="App">
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="css/bootstrap.css" rel="stylesheet">
    
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.min.js"></script>
	<script src="js/ui-bootstrap-tpls-2.2.0.min.js"></script>
    <script src="app2.js"></script>

  <title>Best Price</title>
</head>
    
<style>
    .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>

<body>
    <div ng-controller="filterKat">
    
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="myNavbar1">
          
            <ul class="nav navbar-nav">
            <li>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Filter kategórií
                        <span class="caret"></span>
                    </button>
					<ul class="dropdown-menu">
						<li ng-repeat="x in states" value="{{x.ID}}">
						<a href="#">{{x.Name}}</a></li>
					</ul>
                   
                </div>
            </li>
          </ul>
            
          <ul class="nav navbar-nav navbar-right">
            <li><button class="btn btn-primary" href="#" onclick="openNav()">Nastavenia</button> </li>
            <li><button class="btn btn-primary" href="#" onclick="openNav()">Košík</button>
            </li>
          </ul>
            
        </div>
          
        <div class="collapse navbar-collapse" id="myNavbar2">
          <ul class="nav navbar-nav">
              <div class="web_search">
                  <form>
                <input type="text" class="form-control-text" id="usr" ng-model="keywords" placeholder="Keywords...">
                
                <input type="submit" value=" " ng-click="search()"/>
                      </form>
              </div>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div style="position: relative; min-height: 60px; vertical-align: top;">
    <table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Produkt</th>
      <th>Značka</th>
      <th>hmotnosť (g)</th>
      <th>objem (ml)</th>
      <th>cena(<span class="glyphicon glyphicon-eur"></span>)</th>
	  <th>Počet</th>
      <th>Kúpiť</th>
    </tr>
  </thead>
  <tbody ng-repeat="products in data">
    <tr>
      <th>{{$index + 1}}</th>
      <td>{{products.name}}</td>
      <td>{{products.brand.name}}</td>
      <td>{{products.weigth}}</td>
      <td>{{products.volume}}</td>
      <td>cena</td>
	  <td><input type="number" name="quantity" min="0"><br></td>
      <td><button type="button" class="btn btn-primary btn-sm" ng-click="addProduct(products.name)">Pridaj do košíka</button></td>
    </tr>
  </tbody>
</table>
    </div>
        
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="#">About</a>
          <a href="#">Services</a>
          <a href="#">Clients</a>
          <a href="#">Contact</a>
        </div>
        
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
        
    <script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>
        
        
    <div style="position: absolute; bottom: 0px;">
    
            {{basket}}
        </div>
		
    </div>
        
</body>
</html>
