<!DOCTYPE html>
<html ng-app="App" lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="app2.js"></script>
    <title>Porovnavanie cien</title>
</head>
<body>
<div ng-controller="filterKat">
    <select name="filter" ng-model="filter">
        <option ng-repeat="x in states" value="{{x.ID}}">{{x.Name}}</option>
    </select>
</div>


    <div ng-controller="obchody">
    <span ng-repeat="category in states2">
      <label class="checkbox" for="{{category.ID}}">
        <input type="checkbox" ng-model="selection.ids[category.ID]" name="group" id="{{category.ID}}" />
        {{category.Name}}
      </label><br>
    </span>
    </div>

</body>
</html>

